@import "../../common/variables.scss";

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-light;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 18px 0px;

    .wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        max-width: 1080px;
    }

    .dark &{
        background-color: $primary-dark;
        color: $font-dark;
    }
}